*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
body{
    margin: 0px;
    padding: 0px;
}
.wrapper{
    width:360px;
    height: 640px;
}
.nav-title{
    width: 100%;
    height: 60px;
    background-color: #fff;
}
.nav-title a{
    cursor: pointer;
}
.nav-title .search-icon{
    width: 15%;
    height: 60px;
    float: left;
}
.nav-title .search-icon img{
    width: 30px;
    height: 30px;
    margin-top: 15px;
    margin-left: 10px;
}
.nav-title span{
    display: block;
    width: 62%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    float: left;
}
.nav-title .apply-site{
    width: 23%;
    height: 60px;
    float: left;
}
.nav-title .apply-site span{
    width: 60%;
    height: 60px;
    line-height: 60px;
    color: #f4c600;
    font-size: 12px;
}
.nav-title .apply-site .site-icon{
    width: 40%;
    height: 60px;
}
.nav-title .apply-site .site-icon img{
    width: 25px;
    height: 25px;
    margin-top: 15px;
}

.roll-img{
    width: 360px !important;
    height: 163px !important;
}
.roll-img img{
    height: 163px;
    width: auto;
}

.content{
    width: 100%;
    height: auto;
    margin-bottom: 60px;
}
.contentbox{
    width: 100%;
    height: 515px;
}
.contentbox .activity-title{
    width: 100%;
    height: 215px;
}
.contentbox .activity-title img{
    width: 360px ;
    height: auto;
}
.contentbox .content-related-sitebox{
    width: 100%;
    height: 300px;
}
.contentbox .content-related-sitebox a{
    cursor: pointer;
}
.contentbox .content-related-sitebox .sitebox{
    width: 50%;
    height: 150px;
    float: left;
}
.contentbox .content-related-sitebox .sitebox .site_photo{
    width: 70px ;
    height: 70px;
    margin-top: 10px;
    margin-left: 55px;
}
.contentbox .content-related-sitebox .sitebox .site_photo img{
    width: 70px;
    height: 70px;
}
.contentbox .content-related-sitebox .sitebox .site_name{
    width:180px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #000000;
}
.contentbox .content-related-sitebox .sitebox .site_describe{
    width: 180px;
    height: 40px;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
    color: #000000;

}

.footer{
    width: 360px;
    height: 60px;
    position: fixed;
    bottom: 0px;
    background-color: #3B3B44;
}
.footer ul{
    display: block;
    width: 100%;
    height: 70px;
}
.footer li{
    float: left;
    list-style: none;
    display: block;
    width: 90px;
    height: 100%;
    background-color: #3B3B44;
}
.footer li a{
    width: 90px;
    height: 100%;
    text-decoration: none;
}
.footer li:hover{
    background-color: #4D4D59;
}
.footer li img{
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-left: 30px;
    margin-right: 30px;
}
.footer li span{
    display: block;
    width: 30px;
    height: 25px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    margin: 0px auto;
    font-family: "微软雅黑";
}
.banner { position: relative; overflow: auto; }
.banner li { list-style: none; }
.banner ul li { float: left; }