*{
    margin: 0px;
    padding: 0px;
}
.wrapper{
    width: 360px;
    overflow: hidden;
    position: relative;
}
.nav{
    width: 360px;
    height: 60px;
    background-color: #3B3B44;
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
}
.nav1{
    flex: 1;
    color: #fff;
    line-height: 40px;
    margin: 10px auto;
    text-align: center;
    border-right: 1px solid #eee;
}
.nav2{
    flex: 1;
    color: #fff;
    line-height: 40px;
    margin: 10px auto;
    text-align: center
}
.content{
    width: 360px;
    position: relative;
    height: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}
.content .contentbox{
    width: 360px;
    height: 300px;
    position: relative;
}
.contentbox .author-title{
    width: 100%;
    height: 50px;
}
.contentbox .authorphoto{
    width: 50px;
    height: 50px;
    float: left;
}
.contentbox .authorphoto img{
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 50%;
}
.contentbox .nameAndtime{
    float: left;
    width: 160px;
    height: 40px;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.contentbox .nameAndtime .name{
    display: block;
    width: 160px;
    height: 20px;
}
.contentbox .nameAndtime .time{
    display: block;
    width: 160px;
    height: 20px;
}
.contentbox .sort{
    display: block;
    width: 60px;
    height: 50px;
    float: right;
    line-height: 50px;
}
.contentbox .sort span{
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.content .authorcontent{
    width: 100%;
    height: 250px;
    position: relative;
}
.content .authorcontent a{
    display: block;
    width: 100%;
    height: 250px;
}
.content .authorcontent .article-content{
    width: 100%;
    height: 250px;
    overflow: hidden;
    background-image: url("../img/homeimg/content1.jpg");
}
.content .authorcontent .article-content .article-title{
    width: 92%;
    height: 70px;
    margin-top: 30px;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-left: 4%;
}
.content .authorcontent .article-content .article-subhead{
    width: 92%;
    margin-left: 4%;
    height:80px;
    margin-top: 20px;
    font-size: 16px;
    color: #fff;
    text-align: center;
}
.content .authorcontent .interflow span img:hover{
    opacity: 1;
}
.content .authorcontent .interflow{
    position: absolute;
    width: 100%;
    height: 30px;
    top:220px;
}
.content .authorcontent .interflow span{
    display: block;
    width: 50px;
    height: 30px;
    float: left;
    margin-left: 10px;
    color: #fff;
    font-size: 14px;
}
.content .authorcontent .interflow span img{
    width: 20px;
    height: 20px;
    opacity: 0.6;
}
.content .authorcontent .interflow span img:hover{
    opacity: 1;
}
.footer{
    width: 360px;
    height: 60px;
    position: fixed;
    bottom: 0px;
    background-color: #3B3B44;
}
.footer ul{
    display: block;
    width: 100%;
    height: 70px;
}
.footer li{
    float: left;
    list-style: none;
    display: block;
    width: 90px;
    height: 100%;
    background-color: #3B3B44;
}
.footer li a{
    width: 90px;
    height: 100%;
    text-decoration: none;
}
.footer li:hover{
    background-color: #4D4D59;
}
.footer li img{
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-left: 30px;
    margin-right: 30px;
}
.footer li span{
    display: block;
    width: 30px;
    height: 25px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    margin: 0px auto;
    font-family: "微软雅黑";
}

