*{
    margin: 0px;
    padding: 0px;
}
.hide{
    display:none;
}
.wrapper{
    width: 640px;
    height: 960px;
    background-color: #2c2727;
    overflow: hidden;
}
.login-box{
    width: 500px;
    height: 600px;
    background-color: #161818;
    margin: 180px 20px;
}
.login-box .annotation{
    width: 100%;
    height: 80px;
}
.annotation .ann-text{
    width: 80%;
    height: 80px;
    float: left;
}
.login-box .annotation span{
    display: block;
    width: 100%;
    height:40px;
    line-height: 40px;
    color: #fff;
    margin-left: 10px;
    font-size: 18px;
}
.annotation .ann-btn{
    width: 20%;
    height: 80px;
    float: left;
}
.annotation .ann-btn button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 25px;
    background-color: #161818; 
}
.annotation .ann-btn button img{
    width: 25px;
    height: 25px;
}
.login-box .link-list{
    width: 100%;
    height: 500px;
    margin-top: 20px;
}
.login-box .link-list a{
    display: block;
}
.login-box .link-list ul a .login-link{
    width: 440px;
    height: 100px;
    margin-top: 55px;
    margin-left: 30px;
    background-color: #fcd632;
}
.login-box .link-list ul a .login-link .login-linkicon {
    width: 20%;
    height: 100%;
    float: left;
}
.login-box .link-list ul a .login-link .login-linkicon img{
    width: 60px;
    height: 60px;
    margin: 20px 30px;
}
.login-box .link-list ul a .login-link span{
    display: block;
    width: 80%;
    height: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: 800;
    line-height: 100px;
    float: left;
    text-align: center;
}