*{
    margin: 0px;
    padding: 0px;
}
.wrapper{
    width: 360px;
    height: 640x;
}
.nav-title{
    width: 100%;
    height: 50px;
}
.nav-title span{
    width: 15%;
    height: 50px;
    float: left;
}
.nav-title span img{
    width: 30px;
    height: 30px;
    margin: 10px 0px 10px 10px;
}
.nav-title p{
    width: 70%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    float: left;
}
.nav-title button{
    width: 10%;
    height: 30px;
    border: 0px;
    margin: 10px 2.5% 10px 2.5%;
    background-color: #fff;
    cursor: pointer;
    color:  #fcd632;
}
.setimg{
    width: 100%;
    height: 230px;
    background-image: url(../img/siteimg/background.jpg);
    background-size: 540px 330px;
    overflow: hidden;
    position: relative;
}
.setimg .setphoto{
    width: 100px;
    height: 100px;
    margin: 50px 130px 0px 130px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px #fcd632;
}
.setimg .setphoto span{
    display: block;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
}
.setimg .changebackground{
    width: 50%;
    height: 40px;
    top: 180px;
    position: absolute;
}
.setimg .changebackground img{
    width: 30px;
    height: 30px;
    margin: 5px 0px 5px 10px;
    float: left;
    opacity: 0.7;
}
.setimg .changebackground img:hover{
    opacity: 1;
}
.setimg .changebackground a{
    cursor: pointer;
}
.setimg .changebackground p{
    line-height: 50px;
    color: #fff;
    float: left;
    margin-left: 5px;
    font-size: 14px;
}
.site-details{
    width: 100%;
    height: auto;
    margin-top: 20px;
}   
.site-details input{
    width: 90%;
    height: 50px;
    margin-top: 10px;
    border: none;
    border-bottom: 1px solid #eee;
    margin-left: 5%;
}