*{
    margin: 0px;
    padding:0px;
    text-decoration: none;
}
.wraper{
    width: 360px;
    height: auto;
    overflow: hidden;
}
.userpage-nav{
    height: 60px;
    width: 100%;
    background-color: #3B3B44;
}
.userpage-nav p{
    width: 310px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-family: "微软雅黑";
    font-size: 16px;
    float: left;
    color: #fff;
    margin:0px;
}
.userpage-nav a{
    display: block;
    width: 50px;
    height: 50px;
    float: left;
}
.userpage-nav a img{
    width: 30px;
    height: 30px;
    margin-top: 15px;
}
.usermessage{
    width: 100%;
    height: auto;
    margin-bottom: 60px;
}
.uesermessage-box{
    width: 100%;
    height: 120px;
}
.usermessage .photo{
    width: 80%;
    height: 120px;
    float: left;
}
.photo .userphoto{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}
.photo .userphoto img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.photo .changephoto-icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: left;
    margin-left: 5px;
    margin-top: 65px;
    background-color: #11cd6e;
}
.photo a{
    cursor: pointer;
}
.photo .changephoto-icon img{
    width: 20px;
    height: 20px;
    margin: 5px;
}
.photo .attention-message{
    float: left;
    width: 100px;
    height: 40px;
    font-weight: 600;
    margin-top: 60px;
    margin-left: 15px;
    font-size: 14px;
}
.usermessage .writeInfoDetails{
    width: 20%;
    height: 120px;
    float: left;
}
.usermessage .writeInfoDetails img{
    width: 30%;
    height: 18%;
    margin-left: 45px;
    margin-top: 70px;
}
.personalmess{
    width: 100%;
    height: 40px;
    background-color: #e7fff0;
    overflow: hidden;
}
.personalmess a{
    display: block;
    width: 15%;
    height: 40px;
    overflow: hidden;
    float: left;
}
.personalmess a img{
    width: 30px;
    height: 30px;
    margin: 5px;
}
.personalmess p{
    width: 85%;
    height: 40px;
    float: left;
    line-height: 40px;
    font-family: "微软雅黑";
}
.row{
    padding-top: 6px;
}
.row a{
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
[class*="col-"]{
    padding-top: 5px;
/*    background-color: #f9fcfb;*/
    padding-bottom: 7px;
    border: 1px solid #11cd6e;
    border-radius: 4px;
    height: 40px;
    line-height: 30px;
}
.createsitebox{
    width: 100%;
    height: 135px;
    border-bottom: 1px solid #eee;
}
.createsitebox p{
    width: 88%;
    margin-left: 2%;
    height: 30px;
    line-height: 30px;
    margin-bottom: 5px;
    float: left;
}
.createsitebox a{
    display: block;
    width: 8%;
    height: 25px;
    margin-right: 2%;
    float: left;
}
.createsitebox a img{
    width: 20px;
    height: 20px;
}
.createsitebox .create_sitebox{
    width: 90px;
    height: 95px;
    float: left;
}
.createsitebox .create_sitebox .create_site_photo{
    width: 60px;
    height: 60px;
    margin-left: 15px ;
    border-radius: 50%;
    background-image: url(../img/homeimg/user2.jpg);
    background-size: 60px 60px;
}
.createsitebox .create_sitebox .create_site_id{
    width: 90px;
    height: 35px;
    line-height: 17px;
    font-size: 12px;
    text-align: center;
}

.focussitebox{
    width: 100%;
    height: 135px;
    border-bottom: 1px solid #eee;
}
.focussitebox p{
    width: 88%;
    margin-left: 2%;
    height: 30px;
    line-height: 30px;
    margin-bottom: 5px;
    float: left;
}
.focussitebox a{
    display: block;
    width: 8%;
    height: 25px;
    margin-right: 2%;
    float: left;
}
.focussitebox a img{
    width: 20px;
    height: 20px;
}
.focussitebox .focus_sitebox{
    width: 90px;
    height: 95px;
    float: left;
}
.focussitebox .focus_sitebox .focus_site_photo{
    width: 60px;
    height: 60px;
    margin-left: 15px ;
    border-radius: 50%;
    background-image: url(../img/homeimg/user.jpg);
    background-size: 60px 60px;
}
.focussitebox .focus_sitebox .focus_site_id{
    width: 90px;
    height: 35px;
    line-height: 17px;
    font-size: 12px;
    text-align: center;
}
.focususerbox{
    width: 100%;
    height: 135px;
    border-bottom: 1px solid #eee;
}
.focususerbox p{
    width: 88%;
    margin-left: 2%;
    height: 30px;
    line-height: 30px;
    margin-bottom: 5px;
    float: left;
}
.focususerbox a{
    display: block;
    width: 8%;
    height: 25px;
    margin-right: 2%;
    float: left;
}
.focususerbox img{
    width: 20px;
    height: 20px;
}
.focususerbox .focus_userbox{
    width: 90px;
    height: 95px;
    float: left;
}
.focususerbox .focus_userbox .focus_user_photo{
    width: 60px;
    height: 60px;
    margin-left: 15px ;
    border-radius: 50%;
    background-image: url(../img/homeimg/user.jpg);
    background-size: 60px 60px;
}
.focususerbox .focus_userbox .focus_user_id{
    width: 90px;
    height: 35px;
    line-height: 17px;
    font-size: 12px;
    text-align: center;
}

.footer{
    width: 360px;
    height: 60px;
    position: fixed;
    bottom: 0px;
    background-color: #3B3B44;
}
.footer ul{
    display: block;
    width: 100%;
    height: 70px;
}
.footer li{
    float: left;
    list-style: none;
    display: block;
    width: 90px;
    height: 100%;
    background-color: #3B3B44;
}
.footer li a{
    width: 90px;
    height: 100%;
    text-decoration: none;
}
.footer li:hover{
    background-color: #4D4D59;
}
.footer li img{
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-left: 30px;
    margin-right: 30px;
}
.footer li span{
    display: block;
    width: 30px;
    height: 25px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    margin: 0px auto;
    font-family: "微软雅黑";
}



